<div class="row">

    <!--
        <div ng-app="portfolioApp" ng-controller="PortfolioListCtrl">
            <div ng-repeat="item in items" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="well">
                    <div class="bg" style="background-image: url('preview/{{item.image}}');"></div>
                    < video loop muted autoplay poster = "img/videoframe.jpg" > < source src = "preview/preview_motorider.webm" type = "video/webm" > < /video>
                    <div class="content">
                        <p class="lead">{{item.name}}</p>
                        <p>{{item.snippet}}</p>

                        <h4>Built with</h4>
                        <ul>
                            <li ng-repeat="tech in item.tech">{{tech}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
-->










    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="page-header">
            <h1>Portfolio</h1>
        </div>
        <p class="lead">Here are some of the projects I have worked on in the past. Feel free to have a look!</p>
    </div>
</div>
<div class="portfolio">
<div class="row row-eq-height">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="well">
            <div class="bg" style="background-image: url('preview/preview_bergedalen.png');"></div>
            <div class="content">
                <p class="lead">bergedalen.com</p>
                <p>Landing page for a neuropsychologist business.</p>

                <ul>
                    <li><a href="http://bergedalen.com/"><i class="fa fa-link fa-align-left"> Website</i></a></li>
                </ul>

                <h4>Built with</h4>
                <ul>
                    <li>HTML5</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="well">
            <div class="bg" style="background-image: url('preview/preview_swiftbooks.png');"></div>

            <div class="content">
                <p class="lead">SwiftBooks</p>
                <p>An innovative and easy to use e-book reader that gives you a huge library of books at the tip of your finger.</p>

                <h4>Built with</h4>
                <ul>
                    <li>Java</li>
                    <li>Android Development Kit</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="well">
            <div class="bg" style="background-image: url('preview/preview_rubblerun.png');"></div>

            <div class="content">
                <p class="lead">RubbleRun</p>
                <p>Fun and addicting retro arcade game for Android about dodging incoming rocks.</p>

                <ul>
                    <li><a href="https://play.google.com/store/apps/details?id=com.feudalrun.game.android"><i class="fa fa-google fa-align-left"> Google Play Store</i></a></li>
                </ul>

                <h4>Built with</h4>
                <ul>
                    <li>Java</li>
                    <li>libGDX</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row row-eq-height">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="well">
            <div class="bg" style="background-image: url('preview/preview_pocketbike.png');">

                <!--
                <video loop muted autoplay poster="img/videoframe.jpg">
                    <source src="preview/preview_motorider.webm" type="video/webm">
                </video>
-->

            </div>



            <div class="content">
                <p class="lead">pocketbike</p>
                <p>Racing game where you play as a motorbike rider where you must navigate through a bunch of levels without hitting your head. Features online highscores, replays, level editor and sharing of levels.</p>

                <ul>
                    <li><a href="https://play.google.com/apps/testing/net.bergice.motorider.android"><i class="fa fa-google fa-align-left"> Google Play Store</i></a></li>
                </ul>

                <h4>Built with</h4>
                <ul>
                    <li>Java</li>
                    <li>libGDX</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="well">
            <div class="bg" style="background-image: url('preview/preview_webems.png');"></div>

            <div class="content">
                <p class="lead">Web EMS</p>
                <p>Web EMS is a full fledged employee management system for keeping track of employee work hours, managing company branches, printing complete payrolls and communicating easily.</p>

                <h4>Built with</h4>
                <ul>
                    <li>PHP</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="well">
            <div class="bg" style="background-image: url('preview/preview_small-markdown-editor.png');"></div>

            <div class="content">
                <p class="lead">Small Markdown Editor</p>
                <p>A fast and easy to use markdown editor without any hassle.</p>

                <ul>
                    <li><a href="https://github.com/bergice/Small-Markdown-Editor"><i class="fa fa-github fa-align-left"> Github</i></a></li>
                </ul>

                <h4>Built with</h4>
                <ul>
                    <li>Node.js</li>
                    <li>NW.js</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
